
#main-div div{
	float : left;
}

#chart1 text {
	font-size: 30px;
	fill: #0066ff;
}

#chart3 text{
	font-size: 30px;
	fill: #ff99ff;
}

text{
	font-family: 'Indie Flower', cursive;
}

.legend{
	font-size: 25px;
	fill: #ff8c1a;
}
.arc {
	stroke-width : 2;
}

.column-arc{	
	fill : #0066ff;
	stroke : #66a3ff;
}

.row-arc{
	fill : #ff66ff;
	stroke : #ff99ff;
}

.main-bubble {
	fill : #ff8c1a;
}

.title{
	font-family: 'Indie Flower', cursive;
	color : #ff8c1a;
	text-align : center;
	font-size: 50px;
}
.tooltip{
	opacity : 0;
	text-align : left;
	position : absolute;
	width : auto;
	height : auto;
	font-size : 15px; 
	color : white;
	background : #808080;
	padding : 10px;
	pointer-events: none;
}




